<!DOCTYPE html>
<html>
<head>
  <title>Edit Product</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>

<nav class="navbar">
  <a href="/">Home</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/logout">Logout</a>
</nav>

<h2 style="text-align:center;">✏️ Edit Product</h2>

<form method="POST" style="text-align:center;">
  <input name="name" value="{{ product[1] }}" required>
  <input name="price" value="{{ product[2] }}" required>
  <button>Update</button>
</form>

</body>
</html>